<h1>Site#home</h1>
<p>Find me in app/views/site/home.html.erb</p>

<p>
  <strong>Notable Links</strong>:
  <li><%= link_to "/conferences", conferences_path %></li>
  <li><%= link_to "/conferences.json", conferences_path( :format => :json ) %></li>
  <li><%= link_to "/talks", talks_path %></li>
  <li><%= link_to "/talks.json", talks_path( :format => :json ) %></li>


</p>
